.breadcrumb ol {
  display: inline-flex;
}

.breadcrumb-list-item {
  display: flex;
  align-items: center;
}

.breadcrumb-list-item svg {
  font-size: 18px;
}

.breadcrumb-list-item a {
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.breadcrumb-list-item a:hover {
  background-color: rgb(201, 201, 201);
}