.herobanner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.herobanner__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.herobanner__left h1 {
  font-size: 6rem;
  font-weight: 800;
}

.animation {
  height: 100%;
  width: 55%;
  display: flex;
}

.fslist {
  gap: 50px;
  row-gap: 10px;
  max-width: max-content;
}

.fslist li {
  background-color: aliceblue;
  margin-top: .75rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline-width: 2px;  
  outline-color: #7284e9;
}

.fslist li a {
  display: block;
  padding: 1rem 4rem;
}

.fslist li:hover {
  transform: scale(1.02);
  outline: auto;
  outline-width: 2px;
  outline-color: #4861ec;
  outline-offset: 2px;
}