html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: black;
  overflow-x: hidden;
  height: 100lvh;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

section {
  padding: 0;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }

}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

.view-api-warn {
  position: fixed;
  width: 400px;
  background-color: black;
  opacity: 0.5;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  color: white;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
