table {
  height: fit-content;
  width: 100%;
}

thead {
  width: 100%;
  border-collapse: collapse;
  background-color: #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}

td a, td span {
  display: block;
  padding: 8px;
  text-decoration: none;
}
