section {
  flex-direction: column;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 0 20%;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  width: 50%;
  gap: 10px;
  align-self: center;
}

.layout-title {
  padding: 10px 0;
  border-bottom: 1px solid gray;
  font-size: 1.5rem;
  padding: .5rem 0;
}
