---
import MainLayout from "../layouts/MainLayout.astro";
import "@/styles/globals.css";
---

<MainLayout title="File systems">
  <slot />
  <ul>
    <li>
      <a href="/ext2">The second Extended File Systems (EXT2)</a>
    </li>
    <li>
      <a href="/fat16">Fat Allocation Table 16 (FAT16)</a>
    </li>
  </ul>
</MainLayout>
