.nav {
  border-bottom: solid 1px #0000001a;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 3rem;
  align-items: center;
  padding: 0 2.5rem;
}

.nav img {
  cursor: pointer;
}

.ul {
  display: flex;
  flex-direction: row;
  margin: 0 .2rem;
}

.ul li {
  align-content: center; 
}

.ul li a {
  padding: 0.7rem 1.2rem;
  border-radius: 2px;
  color: black;
  display: block;
  text-align: left;
}

.ul li a {
  float: none;
  padding: 0.7rem 1.2rem;
  border-radius: 2px;
  float: none;
  color: black;
  display: block;
  text-align: left;
}

.ul li > a:hover {
  background-color: #f6f5f4;
}

.has-menu {
  border-radius: 2px;
  display: inline-block;
  padding: .7rem 1.2rem;
  align-items: center;
  position: relative;
}

.has-menu:hover {
  background-color: #f6f5f4;
  cursor: pointer;
}

.menu-label {
  display: flex;
  align-content: center;
}

.menu-content {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: white;
  width: max-content;
  min-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 2px;
}

.has-menu:hover ul {
  display: block;
}

.has-menu:hover li {
  margin: .2rem;
}

.has-menu:hover .menu-content li a:hover {
  background-color: #f6f5f4;
}